<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Michael's Smash Site </title>
<%=
stylesheet_link_tag('admin', :media => 'all')
%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<h2 align="center" style="font-size: 50px; font-style: bold;">Smash Site</h2>
<br>
<h1>Fighters</h1>
<table class="table" border="1px solid black">
	<thead class="thead-dark">
	    <tr>
			<th scope="col">Name</th>
			<th scope="col">Tag</th>
			<th scope="col">Main</th>
			<th scope="col">Secondary</th>
			<th scope="col">Wins</th>
			<th scope="col">Losses</th>
		</tr>
    </thead>
	<tbody id="playerTable">
		<tr>
			<td>Michael Vamvakas</td>
			<td>LustyMuffin</td>
			<td>100</td>
			<td>0</td>
			<td>100</td>
			<td>Yoshi</td>
		</tr>
		<tr>
			<td>Malik Deluy</td>
			<td>TheBlackestMamba</td>
			<td>0</td>
			<td>100</td>
			<td>0</td>
			<td>Samus</td>
		</tr>
	</tbody>
</table>
<button type="button" id="playerStatsBtn" class="btn btn-outline-primary">Get Player Stats</button>
<button type="button" class="btn btn-outline-secondary">Record Game</button>
<button type="button" id="addPlayerBtnMenu" class="btn btn-outline-success">Add Player</button>
<button type="button" class="btn btn-outline-info">Update Database</button>
<br>
<br>
<div class='firstdiv' id="playerStats" style="display:none;" border="1px solid black">
    <h1>Choose a player<h1>
    <select class="btn btn-outline-primary">
        <option value="LustyMuffin">LustyMuffin</option>
		<option value="TheBlackestMamba">TheBlackestMamba</option>
    </select>
    <table class="table font50" border="1px solid black">
	    <thead class="thead-dark">
	    <tr>
				<th scope="col">Opponent</th>
				<th scope="col">Wins</th>
				<th scope="col">Losses</th>
				<th scope="col">Kills</th>
				<th scope="col">Deaths</th>
			</tr>
	    </thead>
		<tbody>
			<tr>
				<td>Blackest Mamba</td>
				<td>100</td>
				<td>0</td>
				<td>200</td>
				<td>0</td>
			</tr>
		</tbody>
    </table>
</div>

<!-- Change this to fit add character -->
<div class='firstdiv' id="addPlayer" style="display:none;" border="1px solid black">
    <h1>Add Player<h1>
			<div class="font50">
					<input class = "textBox" type="text" placeholder = "Name" id = "playerNameCreate">
					<input class = "textBox" type="text" placeholder = "Tag" id = "playerTagCreate">
					<input class = "textBox" type="text" placeholder = "Main" id = "playerMainCreate">
					<input class = "textBox" type="text" placeholder = "Secondary" id = "playerSecondaryCreate">
					<button type="button" id="addPlayerBtn" class="btn btn-outline-primary">Add</button>
			</div>
</div>
</body>
</html>
